/* Fonte personalizada */
@font-face {
    font-family: xmas;
    src: url('font/xmasfont.ttf');
}

/* Geral */
body {
    background: url('assets/bg.jpg') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: white;
}

.navbar-toggler {
    color: red;
    background-color: white;
    opacity: 50%;
    font-size: 15px;
}

/* Textos */
#wish {
    font-size: 70px;
    font-family: xmas;
    color: white;
    text-align: center;
}

#fonts_eu {
    color: aliceblue;
    padding: 10px;
    text-align: justify;
    line-height: 1.5;
}

#wish2 {
    font-size: 50px;
    font-family: xmas;
    color: white;
}

/* Neve */
.snowflake {
    --size: 1vw;
    width: var(--size);
    height: var(--size);
    background: white;
    border-radius: 50%;
    position: absolute;
    top: -5vh;
}

/* Galeria */
#gallery {
    padding-top: 100px;
}

#countdown {
    color: white;
    font-family: xmas;
    font-size: 70px;
    padding-top: 300px;
}

#card {
    padding-top: 300px;
    color: white;
    font-family: xmas;
}

#git {
    font-size: 60px;
    color: white;
    cursor: pointer;
    text-decoration: none;
}

#git:hover {
    opacity: 80%;
    color: white;
}

/* Consultas de mídia para responsividade */
@media (max-width: 1200px) {
    #wish {
        font-size: 50px;
    }
    #wish2 {
        font-size: 40px;
    }
    #counter {
        font-size: 40px;
    }
    #git {
        font-size: 40px !important;
    }
}

@media (max-width: 768px) {
    #wish {
        font-size: 40px;
    }
    #wish2 {
        font-size: 30px;
    }
    #counter {
        font-size: 30px;
    }
    #git {
        font-size: 30px !important;
    }
    #fonts_eu {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    #wish {
        font-size: 30px;
    }
    #wish2 {
        font-size: 20px;
    }
    #fonts_eu {
        font-size: 12px;
    }
    .navbar-toggler {
        font-size: 12px;
    }
}

/* Para orientação retrato */
@media (orientation: portrait) {
    #wish {
        font-size: 30px;
    }
    #wish2 {
        font-size: 30px;
    }
    #counter {
        font-size: 30px;
    }
    #git {
        font-size: 30px !important;
    }
}


    
